<div  ng-class="{ 'col-md-1' : !showOptionsPanel , 'col-md-4': showOptionsPanel }" ng-init="showOptionsPanel = true" class="graphOptions">
    
    <div class="animate slide-left"  ng-show="showOptionsPanel == true">
        <div class="list-group-item selectedListItem">
            <div class="row">
                <div class="col-md-10">
                    <div ng-repeat="typeOfChart in typesOfChart" ng-click="chartTypeSelect(typeOfChart);" ng-class="{ 'selectedListItem' : chartType == typeOfChart}">
                        [[typeOfChart]]
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn" ng-click="showOptionsPanel = false;"><</button>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-11">
                <div class="list-group">
                    <div class="list-group-item selectedListItem">
                        <div class="row">
                            <div class="col-md-8">Select Measue</div>
                            <div class="col-md-3">
                                Select X axis
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item"
                         style="word-wrap: break-word;"
                         ng-class="{ 'selectedListItem' :measureSelected[x] }"
                         ng-repeat="x in dataset.fields"
                         ng-init="measureSelected[x] = false"
                         ng-click="measureSelect(x)">
                        <div class="row">
                            <div class="col-md-9">[[x]]</div>
                            <div class="col-md-3">
                                <button class="btn" ng-click="setAsXAxis(x); $event.stopPropagation();">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="animate slide-top" ng-show="showOptionsPanel == false">
        <button class="btn" ng-click="showOptionsPanel = true;">></button>
    </div>

</div>

<div ng-class="{ 'col-md-8' : showOptionsPanel , 'col-md-11': !showOptionsPanel }" style="height:500px;">
    <div id="[[graphId]]" class="graphHolder"></div>
</div> 