<ul ng-controller="ResearchController" class="list-group">
    <li class="list-group-item" ng-repeat="x in graphItems" ng-init="showGraph[x.url]=true">
        <span class="headingLegible"> [[ x.name ]] </span>
        <button class="btn btn-default" ng-click="showGraph[x.url]=false" ng-show="showGraph[x.url]==true"><span class="glyphicon glyphicon-menu-up"></span></button>

        <button class="btn btn-default" ng-click="showGraph[x.url]=true" ng-show="showGraph[x.url]==false"><span class="glyphicon glyphicon-menu-down"></span></button>
        <div ng-show="showGraph[x.url] == true">
            <iframe height="500" frameborder="0" scrolling="no" ng-src="[[ sce.trustAsResourceUrl(x.url) ]]"></iframe>
        </div>
    </li>
</ul>
