<div ng-controller="SelfServiceGraphsController">
    <div class="col-md-4">
        <div class="list-group-item selectedListItem">
            Select A Measure
        </div>
        <div class="list-group">
            <div class="list-group-item" style="word-wrap: break-word;"  ng-class="{'selectedListItem' :measureSelected[x] }" ng-repeat="x in fields">
                <div ng-init="measureSelected[x] = false"  ng-click="measureSelect(x)">[[x]]</div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div id="graph"></div>
    </div> 
    
</div>
