<script type="text/javascript-lazy">

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                labelText = input.val().replace(/\\/g, '/').replace(/.*\//, '');

            var label = $(this).parent();
            var span = label.children("span");
            span.text(numFiles + " - " + labelText);
        });
</script>

<form class="form-inline">
    <div class="form-group">

        <label class="btn btn-default btn-file">
            <span>Browse</span> <input type="file" class="form-control" name="file" id="fileUpload"  style="display:none;"/>
        </label>
        
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="filename" placeholder="File Name" />
    </div>

    <div class="form-group">
        <label class="sr-only" for="Tags">Tags</label>
        <div class="input-group">
            <div class="input-group-addon">#</div>
            <input type="text" class="form-control" id="Tags" placeholder=" Tags - eg. #Drama,#Crime,#Thriller">
        </div>
    </div>
   
    
        <button class="btn btn-primary" ng-click="PostFile()">Send</button>
</form>